# change prefix to Ctrl-a (like in gnu-screen)
unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix

# start with window 1 (instead of 0)
set -g base-index 1

# start with pane 1
set -g pane-base-index 1

# colors
set -g default-terminal "screen-256color"


# history
set -g history-limit 16384

# allow terminal scrolling
set-option -g terminal-overrides 'xterm*:smcup@:rmcup@'

# automatically renumber tmux windows
set -g renumber-windows on

# Rather than constraining window size to the maximum size of any client
# connected to the *session*, constrain window size to the maximum size of any
# client connected to *that window*. Much more reasonable.
setw -g aggressive-resize on

# make delay shorter
set -sg escape-time 0

# New window with default path set to last path
bind g split-window -h -c "#{pane_current_path}"
bind s split-window -v -c "#{pane_current_path}"
bind c new-window -c "#{pane_current_path}"

# vim movement bindings
set-window-option -g mode-keys vi
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

# mouse behavior
set -g mouse on

# auto window rename
set-window-option -g automatic-rename on

# Use vim keybindings in copy mode
setw -g mode-keys vi